<nav>
  <h1>Hola.</h1>
  <a href="/">
    <img src="/assets/images/logo1.png" id="logo" style="width:200px; height:200px;" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">{{ site.theme.name }}</a>.</h2>
  <hr/>
  <ul>
  <p>I do computer things and sometimes write about it here. </p>
  <p>
    I'm a Software Engineer in Beijing and I ship code at ThePlant</a>.
  </p>
  <hr/>
  <!-- <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div> -->
  </ul>
</nav>
<script type="text/javascript">
window.onload = function (){
  var oLogo = document.getElementById('logo');

  var max = rom(1,9);
  oLogo.src = "/assets/images/logo"+max+".png";
}; 

function rom(n,m){
  return parseInt(Math.random()*(m-n)+n);
} 
</script>
